<header>
  <div>
   <!-- <img  src="../../src/asserts/essiaeducacao_logo.jpg"> -->
  </div>
  <h1>essia</h1>

    <!--
       <div class="container">
    <div class="ui-g">
       <div class="ui-g-12">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
            <div class="logo1-container">
              <img
                src="assets/galeria/Jayline Fashion logo1s.jpg"
                alt=""
                class="logo1"
              />
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-9 text-end">
            <div class="menu-icon" (click)="openMenu()">
              <i class="{{ menu_icon }}"></i>
            </div>
            <div class="desktop_menu" [class.mobile_menu]="menuValue">
              <ul class="header-menu">
                <li class="header-menuitem" id="li"><a href="#">Home</a></li>
                <li class="header-menuitem" id="li"><a href="#">Events</a></li>
                <li class="header-menuitem" id="li"><a href="#">Promotions</a></li>
                <li class="header-menuitem" id="li"><a href="#">Contact</a></li>
                <li class="header-menuitem" id="li"><a href="#">About</a></li>
                <li class="header-menuitem" id="li"><a href="#">Login</a></li>
              </ul>

            </div>
          </div>

        </div>
       </div>
    </div>
  </div>
  -->

</header>
