<div class="container">
  <form>
    <input type="text"  placeholder="Nome do cliente" class="form-control" name="nomeCliente"        [(ngModel)]="cliente.nomeCliente"/>
    <input type="text"  placeholder="Cpf"             class="form-control" name="cpf"                [(ngModel)]="cliente.cpf"/>
    <input type="email" placeholder="Email"           class="form-control" name="email"              [(ngModel)]="cliente.email"/>
    <input type="text"  placeholder="TelefoneCelular" class="form-control" name="telefoneCelular"    [(ngModel)]="cliente.telefoneCelular"/>


          <input type="button" value="Cadastrar" *ngIf="btnCadastrar"  class="btn btn-primary" (click)="cadastrar()">
          <input type="button" value="Alterar"   *ngIf="!btnCadastrar"  class="btn btn-warning">
          <input type="button" value="Remover "  *ngIf="!btnCadastrar"  class="btn btn-danger">
          <input type="button" value="Cancelar"  *ngIf="!btnCadastrar"  class="btn btn-secundary">

  </form>

      <table class="table">
        <thead>
            <tr>
              <th>Id da tabela</th>
              <th>Id do cliente</th>
              <th>Nome do Cliente</th>
              <th>Cpf</th>
              <th>Email</th>
              <th>Telefone celular</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of clientes; index as i">
             <td>{{i+1}}</td>
             <td>{{c.idCliente}}</td>
             <td>{{c.nomeCliente}}</td>
             <td>{{c.cpf}}</td>
             <td>{{c.email}}</td>
             <td>{{c.telefoneCelular}}</td>
             <td><button class="btn btn-primary">Selecionar</button></td>
          </tr>
        </tbody>
    </table>
</div>

