footer {
  padding: 10px;
  background: #01DFD7;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;

}

h1 {
color: #2f4f4f;
}

.example-spacer {
  flex: 1 1 auto;
}
